<app-header></app-header>

<div class="h-full content bg-[#F3FFFF] overflow-y-scroll">
  <div class="flex justify-center w-full my-8">
    <h1 class="title text-4xl">{{page}}</h1>
  </div>
  <div class="rounded-full w-full flex justify-center">
    <img [src]="listImg" class="rounded-full w-40 h-40" />
  </div>
  <div>
    <div *ngIf="page === 'Bateaux';" class="w-full">
      <app-list-item
        *ngFor="let bateau of getBateaux()"
        [text]="bateau.nom"
        [item]="bateau.id"
        [img]="'assets/imgs/bateaux/'+bateau.img"
      ></app-list-item>
    </div>
    <div *ngIf="page === 'Recettes';" class="w-full">
      <app-list-item
        *ngFor="let recette of getRecettes()"
        [text]="recette.nom"
        [item]="recette.id"
        [img]="'assets/imgs/recettes/'+recette.img"
      ></app-list-item>
    </div>
    <div *ngIf="page === 'Restaurants';" class="w-full">
      <app-list-item
        *ngFor="let restaurant of getRestaurants()"
        [text]="restaurant.nom"
        [item]="restaurant.id"
        [img]="'assets/imgs/restaurants/'+restaurant.img"
      ></app-list-item>
    </div>
  </div>
</div>
