<app-header></app-header>
<ion-content>
  <div class="background">
    <div>
      <div class="content">

        <h2 class="title my-4">{{ item.name }}</h2>
        <img src="assets/icon/poulpe.png" alt="" class="center-image">
        <p class="description">Nom : {{ item.name }}</p>
      </div>

      <p class="description">comment : {{ item.comments }}</p>


      <div>
        <span class="font-crimson font-semibold text-center">{{ item.price }} €</span>
      </div>
      <ion-button (click)="ajoutPanier(item)">Ajouter</ion-button>
      </div>

    </div>

</ion-content>
<!-- <div class="background">
  <div>
    <div class="content">
      <h2 class="title my-4">{{ item.name }}</h2>
      <img [src]="categoryPath + item.image" class="center-image" />
      <p class="description">Nom : {{ item.name }}</p>
    </div>

    <p class="m-4 text-justify">{{item.description}}</p>
  </div>
</div> -->
